@charset "UTF-8";

:root {
	--atto-main-width: 50rem;
	--atto-padding-body: 1rem 0;
	--atto-padding-header: 0 0 1rem 0;
	--atto-padding-footer: 1rem 0 0 0;
	--atto-padding-left-list: 2rem;

	--atto-margin-group: 1rem 0;
	--atto-margin-hr: 0.5rem 0;
	--atto-margin-header: 0 auto;
	--atto-margin-h1: 2rem 0 0.5rem 0;
	--atto-margin-h2: 2rem 0 0.5rem 0;
	--atto-margin-h3: 2rem 0 0.5rem 0;
	--atto-margin-h4: 2rem 0 0.5rem 0;
	--atto-margin-h5: 2rem 0 0.5rem 0;
	--atto-margin-h6: 2rem 0 0.5rem 0;
	--atto-margin-p: 0 0;
	--atto-margin-pre: 0.5rem 0;
	--atto-margin-li: 0.5rem 0;

	--atto-line-height: 1.50rem;

	--atto-font-size-code: 1rem;
	--atto-line-height-code: 1.25rem;
	--atto-tab-size: 4;

	--atto-border-radius-code: 0.25rem;
	--atto-border-radius-codeblock: 0.5rem;

	--atto-transition: 0.2s ease-in-out;

	--atto-color-accent--4: #3F2727;
	--atto-color-accent--3: #4C302F;
	--atto-color-accent--2: #88302B;
	--atto-color-accent--1: #CC443D;
	--atto-color-accent: #F0544C;
	--atto-color-accent-1: #F6645D;
	--atto-color-accent-2: #F7736D;
	--atto-color-accent-3: #EF9F9B;
	--atto-color-accent-4: #F7B3AF;
	--atto-color-bg--4: #000000;
	--atto-color-bg--3: #111111;
	--atto-color-bg--2: #222222;
	--atto-color-bg--1: #252525;
	--atto-color-bg: #333333;
	--atto-color-bg-1: #3a3a3a;
	--atto-color-bg-2: #444444;
	--atto-color-bg-3: #505050;
	--atto-color-bg-4: #555555;
	--atto-color-fg--4: #505050;
	--atto-color-fg--3: #555555;
	--atto-color-fg--2: #666666;
	--atto-color-fg--1: #808080;
	--atto-color-fg: #CACACA;
	--atto-color-fg-1: #DADADA;
	--atto-color-fg-2: #EEEEEE;
	--atto-color-fg-3: #FAFAFA;
	--atto-color-fg-4: #FFFFFF;

	--atto-color-code-bg--1: #303030;
	--atto-color-code-bg: #404040;

	--atto-color-mark-bg: var(--atto-color-accent--3);
	--atto-color-mark-fg: var(--atto-color-2);

	--atto-color-kbd-bg: var(--atto-color-fg-1);
	--atto-color-kbd-fg: var(--atto-color-bg-1);

	--atto-color-guide: var(--atto-color-bg-2);

	--atto-color-ins--1: #3A8C623f;
	--atto-color-ins: #3A8C62;

	--atto-color-del--1: #C13C403f;
	--atto-color-del: #C13C40;

	--atto-color-note--1: #4AD7EA0C;
	--atto-color-note: #4AD7EA;

	--atto-color-note-suggestion--1: #32D7320C;
	--atto-color-note-suggestion: #32D732;

	--atto-color-note-strong--1: #8C5FB90C;
	--atto-color-note-strong: #8C5FB9;

	--atto-color-alert--1: #E87B2E0c;
	--atto-color-alert: #E87B2E;

	--atto-color-alert-strong--1: #FF0A320C;
	--atto-color-alert-strong: #FF0A32;

	--atto-glyph-clipboard: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' viewBox='0 0 16 16' width='16'%3E%3Cpath d='M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 0 1 0 1.5h-1.5a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-1.5a.75.75 0 0 1 1.5 0v1.5A1.75 1.75 0 0 1 9.25 16h-7.5A1.75 1.75 0 0 1 0 14.25Z'%3E%3C/path%3E%3Cpath d='M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0 1 14.25 11h-7.5A1.75 1.75 0 0 1 5 9.25Zm1.75-.25a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-7.5a.25.25 0 0 0-.25-.25Z'%3E%3C/path%3E%3C/svg%3E");
	--atto-glyph-checkmark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
	--atto-glyph-note: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%234AD7EA' width='16' height='16' viewBox='0 0 16 16' %3E%3Cpath d='M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8Zm8-6.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13ZM6.5 7.75A.75.75 0 0 1 7.25 7h1a.75.75 0 0 1 .75.75v2.75h.25a.75.75 0 0 1 0 1.5h-2a.75.75 0 0 1 0-1.5h.25v-2h-.25a.75.75 0 0 1-.75-.75ZM8 6a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z'%3E%3C/path%3E%3C/svg%3E");
	--atto-glyph-note-suggestion: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2332D732' viewBox='0 0 16 16' width='16' height='16' %3E%3Cpath d='M8 1.5c-2.363 0-4 1.69-4 3.75 0 .984.424 1.625.984 2.304l.214.253c.223.264.47.556.673.848.284.411.537.896.621 1.49a.75.75 0 0 1-1.484.211c-.04-.282-.163-.547-.37-.847a8.456 8.456 0 0 0-.542-.68c-.084-.1-.173-.205-.268-.32C3.201 7.75 2.5 6.766 2.5 5.25 2.5 2.31 4.863 0 8 0s5.5 2.31 5.5 5.25c0 1.516-.701 2.5-1.328 3.259-.095.115-.184.22-.268.319-.207.245-.383.453-.541.681-.208.3-.33.565-.37.847a.751.751 0 0 1-1.485-.212c.084-.593.337-1.078.621-1.489.203-.292.45-.584.673-.848.075-.088.147-.173.213-.253.561-.679.985-1.32.985-2.304 0-2.06-1.637-3.75-4-3.75ZM5.75 12h4.5a.75.75 0 0 1 0 1.5h-4.5a.75.75 0 0 1 0-1.5ZM6 15.25a.75.75 0 0 1 .75-.75h2.5a.75.75 0 0 1 0 1.5h-2.5a.75.75 0 0 1-.75-.75Z'%3E%3C/path%3E%3C/svg%3E");
	--atto-glyph-note-strong: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%238C5FB9' viewBox='0 0 16 16' width='16' height='16'%3E%3Cpath d='M0 1.75C0 .784.784 0 1.75 0h12.5C15.216 0 16 .784 16 1.75v9.5A1.75 1.75 0 0 1 14.25 13H8.06l-2.573 2.573A1.458 1.458 0 0 1 3 14.543V13H1.75A1.75 1.75 0 0 1 0 11.25Zm1.75-.25a.25.25 0 0 0-.25.25v9.5c0 .138.112.25.25.25h2a.75.75 0 0 1 .75.75v2.19l2.72-2.72a.749.749 0 0 1 .53-.22h6.5a.25.25 0 0 0 .25-.25v-9.5a.25.25 0 0 0-.25-.25Zm7 2.25v2.5a.75.75 0 0 1-1.5 0v-2.5a.75.75 0 0 1 1.5 0ZM9 9a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z'%3E%3C/path%3E%3C/svg%3E");
	--atto-glyph-alert: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23E87B2E' viewBox='0 0 16 16' width='16' height='16' aria-hidden='true'%3E%3Cpath d='M6.457 1.047c.659-1.234 2.427-1.234 3.086 0l6.082 11.378A1.75 1.75 0 0 1 14.082 15H1.918a1.75 1.75 0 0 1-1.543-2.575Zm1.763.707a.25.25 0 0 0-.44 0L1.698 13.132a.25.25 0 0 0 .22.368h12.164a.25.25 0 0 0 .22-.368Zm.53 3.996v2.5a.75.75 0 0 1-1.5 0v-2.5a.75.75 0 0 1 1.5 0ZM9 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z'%3E%3C/path%3E%3C/svg%3E");
	--atto-glyph-alert-strong: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FF0A32' viewBox='0 0 16 16' width='16' height='16' aria-hidden='true'%3E%3Cpath d='M4.47.22A.749.749 0 0 1 5 0h6c.199 0 .389.079.53.22l4.25 4.25c.141.14.22.331.22.53v6a.749.749 0 0 1-.22.53l-4.25 4.25A.749.749 0 0 1 11 16H5a.749.749 0 0 1-.53-.22L.22 11.53A.749.749 0 0 1 0 11V5c0-.199.079-.389.22-.53Zm.84 1.28L1.5 5.31v5.38l3.81 3.81h5.38l3.81-3.81V5.31L10.69 1.5ZM8 4a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-1.5 0v-3.5A.75.75 0 0 1 8 4Zm0 8a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z'%3E%3C/path%3E%3C/svg%3E");

}

@media only screen and (prefers-color-scheme: light) {
	:root {
		--atto-color-accent--4: #F7B3AF;
		--atto-color-accent--3: #EF9F9B;
		--atto-color-accent--2: #F27F79;
		--atto-color-accent--1: #F6645D;
		--atto-color-accent: #F0544C;
		--atto-color-accent-1: #CC443D;
		--atto-color-accent-2: #88302B;
		--atto-color-accent-3: #4C302F;
		--atto-color-accent-4: #3F2727;
		--atto-color-bg--4: #BABABA;
		--atto-color-bg--3: #CACACA;
		--atto-color-bg--2: #DADADA;
		--atto-color-bg--1: #EAEAEA;
		--atto-color-bg: #f5f5f5;
		--atto-color-bg-1: #FAFAFA;
		--atto-color-bg-2: #fdfdfd;
		--atto-color-bg-3: #fefefe;
		--atto-color-bg-4: #ffffff;
		--atto-color-fg--4: #eeeeee;
		--atto-color-fg--3: #bbbbbb;
		--atto-color-fg--2: #999999;
		--atto-color-fg--1: #777777;
		--atto-color-fg: #444444;
		--atto-color-fg-1: #333333;
		--atto-color-fg-2: #222222;
		--atto-color-fg-3: #111111;
		--atto-color-fg-4: #000000;
		--atto-color-code-bg--1: #EEEEEE;
		--atto-color-code-bg: #DDDDDD;
	}
}

::selection {
	background-color: var(--atto-color-accent--3);
}

/******************************************************************************/
/*                                                                  STRUCTURE */

body {
	margin: 0;
	padding: 0;
	padding: var(--atto-padding-body);
	background-color: var(--atto-color-bg--1);
	color: var(--atto-color-fg);
	font-family: "sans";
	font-size: 1rem;
	line-height: var(--atto-line-height);
	accent-color: var(--atto-color-accent);
}

header {
	max-width: var(--atto-main-width);
	margin: var(--atto-margin-header);
	padding: var(--atto-padding-header);
}

footer {
	max-width: var(--atto-main-width);
	margin-left: auto;
	margin-right: auto;
	padding: var(--atto-padding-footer);
}

footer nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: auto;
	gap: 0 1rem;
}

main {
	max-width: var(--atto-main-width);
	margin-left: auto;
	margin-right: auto;
}

nav {
	margin: 0;
	padding: 0;
}

section {
	margin: var(--atto-margin-group);
}

fieldset {
	margin: var(--atto-margin-group);
	border: none;
}

/******************************************************************************/
/*                                                                 TYPOGRAPHY */

hr {
	margin: var(--atto-margin-hr);
}

a {
	color: var(--atto-color-accent-1);
}

a:hover {
	color: var(--atto-color-accent-2);
}

h1 {
	font-size: 2.0rem;
	margin: var(--atto-margin-h1);
}

h2 {
	font-size: 1.75rem;
	margin: var(--atto-margin-h2);
}

h3 {
	font-size: 1.5rem;
	margin: var(--atto-margin-h3);
}

h4 {
	font-size: 1.25rem;
	margin: var(--atto-margin-h4);
}

h5 {
	font-size: 1.125rem;
	margin: var(--atto-margin-h5);
}

h6 {
	font-size: 1.075rem;
	margin: var(--atto-margin-h6);
}

hgroup {
	margin: 2.0rem 0 1.0rem 0;
}

hgroup>* {
	margin-top: 0;
	margin-bottom: 0;
}

p {
	font-size: 1rem;
	margin: var(--atto-margin-p);
}

small {
	font-size: 0.75rem;
}

big {
	font-size: 1.25rem;
}

/*                                                           Other typography */

pre {
	margin: var(--atto-margin-pre);
	overflow-x: auto;
	display: block;
}

pre,
code,
samp {
	font-family: "monospace";
	font-size: var(--atto-font-size-code);
	line-height: var(--atto-line-height-code);
	tab-size: var(--atto-tab-size);
}

code {
	background-color: var(--atto-color-code-bg);
	color: var(--atto-color-code-fg);
	border-radius: var(--atto-border-radius-code);
	padding: 0 0.25rem;
}

samp {
	background-color: var(--atto-color-code-bg--1);
	color: var(--atto-color-code-fg);
	border-radius: var(--atto-border-radius-codeblock);
	padding: 0 0.25rem;
}

pre>code,
pre>samp {
	display: block;
	/* border-radius: 0; */
	padding: 0.75rem;
	overflow: auto;
}

pre:has(>code+samp)>*:first-child {
	border-radius: var(--atto-border-radius-codeblock) var(--atto-border-radius-codeblock) 0 0;
}

pre:has(>code+samp)>* {
	border-radius: 0;
}

pre:has(>code+samp)>*:last-child {
	border-radius: 0 0 var(--atto-border-radius-codeblock) var(--atto-border-radius-codeblock);
}

/* TODO: show language used in ::before */
/* pre:has(>code)::before { */
/* 	display: block; */
/* 	content: "Language: " attr(class); */
/* } */

/* TODO: Copy to clipboard button */
/* pre>code::before { */
/* 	content: var(--atto-glyph-clipboard); */
/* 	position: sticky; */
/* 	top: 0; */
/* 	left: 100%; */
/* 	display: inline; */
/* } */

kbd {
	background-color: var(--atto-color-kbd-bg);
	color: var(--atto-color-kbd-fg);
	padding: 0 0.25rem;
	border-radius: 0.25rem;
}

mark {
	background-color: var(--atto-color-mark-bg);
	color: var(--atto-color-mark-fg);
	border-radius: 0.25rem;
}

abbr,
[data-tooltip] {
	text-decoration-line: underline;
	text-decoration-style: dotted;
	text-decoration-thickness: 0.1rem;
}

ins,
del {
	border-radius: 0.25rem;
	text-decoration: none;
}

ins {
	background-color: var(--atto-color-ins--1);
	color: var(--atto-color-ins);
}

del {
	background-color: var(--atto-color-del--1);
	color: var(--atto-color-del);
}

ol,
ul {
	list-style-position: inside;
	margin: 0;
	padding: 0;
}

li {
	margin: var(--atto-margin-li);
}

li>p,
li>pre,
li>blockquote {
	margin-left: calc(var(--atto-padding-left-list) / 2);
}

ol ol,
ul ul {
	padding-left: var(--atto-padding-left-list);
}

ol {
	counter-reset: item;
}

ol>li::before {
	counter-increment: item;
	content: counters(item, ".") ". ";
}

ol>li {
	list-style: none;
}

blockquote {
	margin: 0.5rem 0;
	border-left: 0.25rem solid var(--atto-color-bg-2);
	background-color: var(--atto-color-bg);
	padding: 1rem;
}

/*                                                                     Tables */

table {
	width: 100%;
	border-collapse: collapse;
}

thead {
	border-bottom: 2px solid var(--atto-color-guide);
}

tfoot {
	border-top: 2px solid var(--atto-color-guide);
	border-bottom: 2px solid var(--atto-color-guide);
}

/* th:not(:first-child) { */
/* 	border-left: 1px solid var(--atto-color-guide); */
/* } */

tr {
	border-bottom: 1px solid var(--atto-color-guide);
}

th {
	padding: 0.5rem 0;
	text-align: left;
}

th[colspan],
td[colspan] {
	text-align: center;
}

td {
	padding: 0.25rem 0;
}

/* TODO: striped based on sibling */

/*                                                                   Articles */

article {
	background-color: var(--atto-color-bg-1);
	padding: 1rem;
	margin: 1rem 0;
	border-radius: 1rem;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

article>header>* {
	margin-top: 0;
}

article>footer>* {
	margin-bottom: 0;
}

/* TODO: custom and animated chevron */
/* TODO: add left padding */
/* details summary { */
/* 	list-style-type: none; */
/* } */

/*                                                                     Images */

svg {
	vertical-align: middle;
}

svg:not([fill]) {
	fill: currentColor;
}


/******************************************************************************/
/*                                                                 COMPONENTS */

input,
progress,
meter {
	vertical-align: middle;
}

/* TODO: progress, progress:indeterminate, meter */
/* TODO: select, multiselect */

input,
textarea,
button {
	border: 1px solid transparent;
	border-radius: 0.5rem;
	margin: 0.5rem;
	padding: 0.5rem;
	transition:
		background-color var(--atto-transition),
		border-color var(--atto-transition),
		color var(--atto-transition),
		box-shadow var(--atto-transition);
	background-color: var(--atto-color-bg-2);
	color: var(--atto-color-fg-1);
}

input[type="search"] {
	border-radius: 2rem;
}

button,
input[type="button"],
input[type="image"],
input[type="reset"],
input[type="submit"],
[role="button"] {
	background-color: var(--atto-color-accent--2);
	color: var(--atto-color-fg-1);
	border: 1px solid transparent;
	border-radius: 0.5rem;
	margin: 0.5rem;
	padding: 0.5rem;
	transition:
		background-color var(--atto-transition),
		border-color var(--atto-transition),
		color var(--atto-transition),
		box-shadow var(--atto-transition);
	display: inline-block;
	line-height: 1rem;
	font-size: 1rem;
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
}


button:active,
input[type="button"]:active,
input[type="image"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
[role="button"]:active {
	background-color: var(--atto-color-accent--2);
}

input[type="checkbox"] {
	appearance: none;
	width: 1.75rem;
	height: 1.75rem;
	box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

input[type="checkbox"]:checked {
	background-color: var(--atto-color-accent--2);
	background-image: var(--atto-glyph-checkmark);
	background-size: 75% auto;
	background-repeat: no-repeat;
	background-position: center;
}

input[type="checkbox"][role="switch"] {
	width: 3.25rem;
	border-radius: 1.25rem;
	padding: 0.25rem;
	background-image: none;
	background-color: var(--atto-color-bg--2);
}

input[type="checkbox"][role="switch"]:checked {
	background-color: var(--atto-color-accent--2);
}

input[type="checkbox"][role="switch"]::before {
	display: block;
	background-color: white;
	content: "";
	height: 100%;
	aspect-ratio: 1;
	border-radius: 50%;
	transition: margin .1s ease-in-out;
}

input[type="checkbox"][role="switch"]:checked::before {
	/* width / 2 - padding */
	margin-inline-start: 1.5rem;
}

input[type="radio"] {
	appearance: none;
	height: 1.75rem;
	width: 1.75rem;
	padding: 0.25rem;
	border-radius: 50%;
}

input[type="radio"]:checked::before {
	display: block;
	background-color: var(--atto-color-accent);
	content: "";
	height: 100%;
	aspect-ratio: 1;
	border-radius: 50%;
}

input[type="color"] {
	padding: 0.25rem;
}

input:focus,
input:focus-visible,
textarea:focus,
textarea:focus-visible,
button:focus,
button:focus-visible {
	outline: 1px;
	border: 1px solid var(--atto-color-accent);
}

button:hover,
input[type="button"]:hover,
input[type="image"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="checkbox"]:hover,
[role="button"]:hover {
	background-color: var(--atto-color-accent--1);
}

input[type="checkbox"]:checked:hover {
	background-color: var(--atto-color-accent);
}

/******************************************************************************/
/*                                                             EXTRA FEATURES */

/*                                                           Blockquote kinds */

blockquote[role="note"]::before,
blockquote[role="note suggestion"]::before,
blockquote[role="note strong"]::before,
blockquote[role="alert"]::before,
blockquote[role="alert strong"]::before {
	--icon-size: 1.25rem;
	display: block;
	align-items: center;
	background-repeat: no-repeat;
	font-size: var(--icon-size);
	line-height: var(--icon-size);
	font-weight: bold;
	background-position: calc(var(--icon-size) * 0.5) center;
	background-size: var(--icon-size);
	padding-left: calc(2 * var(--icon-size));
	margin-bottom: var(--icon-size);
}

blockquote[role="note"]::before {
	color: var(--atto-color-note);
	content: "Note";
	background-image: var(--atto-glyph-note);
}

blockquote[role="note"] {
	border-color: var(--atto-color-note);
	background-color: var(--atto-color-note--1);
}

blockquote[role="note suggestion"]::before {
	color: var(--atto-color-note-suggestion);
	content: "Tip";
	background-image: var(--atto-glyph-note-suggestion);
}

blockquote[role="note suggestion"] {
	border-color: var(--atto-color-note-suggestion);
	background-color: var(--atto-color-note-suggestion--1);
}

blockquote[role="note strong"]::before {
	color: var(--atto-color-note-strong);
	content: "Important";
	background-image: var(--atto-glyph-note-strong);
}

blockquote[role="note strong"] {
	border-color: var(--atto-color-note-strong);
	background-color: var(--atto-color-note-strong--1);
}

blockquote[role="alert"]::before {
	color: var(--atto-color-alert);
	content: "Warning";
	background-image: var(--atto-glyph-alert);
}

blockquote[role="alert"] {
	border-color: var(--atto-color-alert);
	background-color: var(--atto-color-alert--1);
}

blockquote[role="alert strong"]::before {
	color: var(--atto-color-alert-strong);
	content: "Caution";
	background-image: var(--atto-glyph-alert-strong);
}

blockquote[role="alert strong"] {
	border-color: var(--atto-color-alert-strong);
	background-color: var(--atto-color-alert-strong--1);
}

/*                                                                Breadcrumbs */

nav[aria-label="breadcrumb"] a::before {
	content: "/";
	margin: 0 16px;
	display: inline-block;
	text-decoration: none;
	color: var(--atto-color-fg);
}

/*                                                                    Tooltip */

[data-tooltip] {
	position: relative;
}

[data-tooltip]:hover::before,
[data-tooltip]:focus::before {
	content: attr(data-tooltip);
	display: block;
	position: absolute;
	bottom: 100%;
	left: 0;
	white-space: nowrap;
	background: var(--atto-color-bg-1);
	border-radius: 0.25rem;
	padding: 0.5rem;
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
	max-width: 80vw;
	overflow: auto;
}

/*                                                                   Dropdown */
/* with menu maybe? */

/*                                                             Dialog (popup) */

dialog {
	display: flex;
	z-index: 999;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	align-items: center;
	justify-content: center;
	width: inherit;
	min-width: 100%;
	height: inherit;
	min-height: 100%;
	padding: 0;
	border: 0;
	color: var(--atto-color-fg);
	background-color: transparent;
	backdrop-filter: blur(0.5rem);
}

/*                                                                        ToC */
/* nav[role="tree"] { } */
/* aside nav[role="tree"] { } */

/* Tabs in code (for multiple languages) */

/*                                                   Header and Footer banner */

body:has(>header[role="banner"]) {
	padding-top: 0;
}

body:has(>footer[role="banner"]) {
	padding-bottom: 0;
}

header[role="banner"],
footer[role="banner"] {
	z-index: 100;
	position: sticky;
	display: block;
	max-width: 100%;
	padding: 1rem;
	background-color: var(--atto-color-bg-2);
}

header[role="banner"] {
	top: 0;
	margin: 0 0 2rem 0;
	box-shadow: 0px 20px 16px 0px rgba(0, 0, 0, 0.2);
}

footer[role="banner"] {
	bottom: 0;
	margin: 2rem 0 0 0;
	box-shadow: 0px -20px 16px 0px rgba(0, 0, 0, 0.2);
}

/*                                                             Layout helpers */

/*
.flex {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0 1rem;
}

.hbox {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
	grid-gap: 1rem;
}

.vbox {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;
}
*/

/* TODO: move out */
details[hidden]+hr {
	display: none;
}
