/* TODO: preload */
@import url(pico.min.css);

:root {
	--color-note--1: #4AD7EA0C;
	--color-note: #4AD7EA;
	--color-note-suggestion--1: #32D7320C;
	--color-note-suggestion: #32D732;
	--color-note-strong--1: #8C5FB90C;
	--color-note-strong: #8C5FB9;
	--color-alert--1: #E87B2E0c;
	--color-alert: #E87B2E;
	--color-alert-strong--1: #FF0A320C;
	--color-alert-strong: #FF0A32;

	--color-code-syntax-normal: #444444;
	--color-code-syntax-comment: #999999;
	--color-code-syntax-keyword: #CC7832;
	--color-code-syntax-punctuation: #CC7832;
	--color-code-syntax-keyword-alt: #DB9B5A;
	--color-code-syntax-meta: #BBB529;
	--color-code-syntax-number: #6897BB;
	--color-code-syntax-string: #6A8759;
	--color-code-syntax-type: #F0AA66;

	--glyph-note: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%234AD7EA' width='16' height='16' viewBox='0 0 16 16' %3E%3Cpath d='M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8Zm8-6.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13ZM6.5 7.75A.75.75 0 0 1 7.25 7h1a.75.75 0 0 1 .75.75v2.75h.25a.75.75 0 0 1 0 1.5h-2a.75.75 0 0 1 0-1.5h.25v-2h-.25a.75.75 0 0 1-.75-.75ZM8 6a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z'%3E%3C/path%3E%3C/svg%3E");
	--glyph-note-suggestion: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2332D732' viewBox='0 0 16 16' width='16' height='16' %3E%3Cpath d='M8 1.5c-2.363 0-4 1.69-4 3.75 0 .984.424 1.625.984 2.304l.214.253c.223.264.47.556.673.848.284.411.537.896.621 1.49a.75.75 0 0 1-1.484.211c-.04-.282-.163-.547-.37-.847a8.456 8.456 0 0 0-.542-.68c-.084-.1-.173-.205-.268-.32C3.201 7.75 2.5 6.766 2.5 5.25 2.5 2.31 4.863 0 8 0s5.5 2.31 5.5 5.25c0 1.516-.701 2.5-1.328 3.259-.095.115-.184.22-.268.319-.207.245-.383.453-.541.681-.208.3-.33.565-.37.847a.751.751 0 0 1-1.485-.212c.084-.593.337-1.078.621-1.489.203-.292.45-.584.673-.848.075-.088.147-.173.213-.253.561-.679.985-1.32.985-2.304 0-2.06-1.637-3.75-4-3.75ZM5.75 12h4.5a.75.75 0 0 1 0 1.5h-4.5a.75.75 0 0 1 0-1.5ZM6 15.25a.75.75 0 0 1 .75-.75h2.5a.75.75 0 0 1 0 1.5h-2.5a.75.75 0 0 1-.75-.75Z'%3E%3C/path%3E%3C/svg%3E");
	--glyph-note-strong: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%238C5FB9' viewBox='0 0 16 16' width='16' height='16'%3E%3Cpath d='M0 1.75C0 .784.784 0 1.75 0h12.5C15.216 0 16 .784 16 1.75v9.5A1.75 1.75 0 0 1 14.25 13H8.06l-2.573 2.573A1.458 1.458 0 0 1 3 14.543V13H1.75A1.75 1.75 0 0 1 0 11.25Zm1.75-.25a.25.25 0 0 0-.25.25v9.5c0 .138.112.25.25.25h2a.75.75 0 0 1 .75.75v2.19l2.72-2.72a.749.749 0 0 1 .53-.22h6.5a.25.25 0 0 0 .25-.25v-9.5a.25.25 0 0 0-.25-.25Zm7 2.25v2.5a.75.75 0 0 1-1.5 0v-2.5a.75.75 0 0 1 1.5 0ZM9 9a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z'%3E%3C/path%3E%3C/svg%3E");
	--glyph-alert: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23E87B2E' viewBox='0 0 16 16' width='16' height='16' aria-hidden='true'%3E%3Cpath d='M6.457 1.047c.659-1.234 2.427-1.234 3.086 0l6.082 11.378A1.75 1.75 0 0 1 14.082 15H1.918a1.75 1.75 0 0 1-1.543-2.575Zm1.763.707a.25.25 0 0 0-.44 0L1.698 13.132a.25.25 0 0 0 .22.368h12.164a.25.25 0 0 0 .22-.368Zm.53 3.996v2.5a.75.75 0 0 1-1.5 0v-2.5a.75.75 0 0 1 1.5 0ZM9 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z'%3E%3C/path%3E%3C/svg%3E");
	--glyph-alert-strong: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FF0A32' viewBox='0 0 16 16' width='16' height='16' aria-hidden='true'%3E%3Cpath d='M4.47.22A.749.749 0 0 1 5 0h6c.199 0 .389.079.53.22l4.25 4.25c.141.14.22.331.22.53v6a.749.749 0 0 1-.22.53l-4.25 4.25A.749.749 0 0 1 11 16H5a.749.749 0 0 1-.53-.22L.22 11.53A.749.749 0 0 1 0 11V5c0-.199.079-.389.22-.53Zm.84 1.28L1.5 5.31v5.38l3.81 3.81h5.38l3.81-3.81V5.31L10.69 1.5ZM8 4a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-1.5 0v-3.5A.75.75 0 0 1 8 4Zm0 8a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z'%3E%3C/path%3E%3C/svg%3E");

	--pico-font-size: 1rem;
	--pico-nav-breadcrumb-divider: "/";
}

[data-theme=light],
:root:not([data-theme=dark]),
:host:not([data-theme=dark]) {
	--pico-text-selection-color: #f0544c3f;
	--pico-primary: #f0544C;
	--pico-primary-background: #f0544caf;
	--pico-primary-underline: #f0544c7F;
	--pico-primary-hover: #F6645D;
	--pico-primary-hover-background: #f0544C;
	--pico-primary-focus: #f0544c7F;
	--pico-primary-inverse: #ffffff;

	--pico-range-border-color: #F0544C55;
	--pico-range-thumb-color: var(--pico-primary);
	--pico-range-active-border-color: var(--pico-primary-hover);
	--pico-range-thumb-hover-color: var(--pico-primary-hover);

}

@media only screen and (prefers-color-scheme: dark) {

	:root:not([data-theme]),
	:host:not([data-theme]) {
		--pico-primary: #F0544C;
		--pico-primary-border: #F0544C;
		--pico-primary-hover: #d32f2f;
		--pico-primary-focus: #E539357F;
		--pico-primary-inverse: #FFFFFF;

		--pico-background-color: #222222;
		--pico-muted-border-color: #444444;
		--pico-color: #DADADA;
		--pico-muted-color: #BABABA;
		--pico-code-color: #BABABA;
		--pico-border-color: #F0544C55;

		--pico-form-element-active-background-color: #303030;
		--pico-form-element-disabled-background-color: #303030;
		--pico-form-element-disabled-border-color: #303030;

		--pico-modal-overlay-background-color: #222222aa;
		--pico-code-background-color: #303030;
		--pico-mark-background-color: #F0544C3F;

		--pico-card-background-color: #303030;
		--pico-card-sectioning-background-color: #444444;

		--pico-form-element-background-color: #353535;
		--pico-form-element-border-color: transparent;
		--pico-switch-background-color: #333333;

		--pico-progress-background-color: #333333;

		--pico-dropdown-background-color: #444444;
		--pico-dropdown-border-color: #444444;
		--pico-dropdown-hover-background-color: #F0544C55;

		--pico-range-border-color: #F0544C55;
		--pico-range-thumb-color: var(--pico-primary);
		--pico-range-active-border-color: var(--pico-primary-focus);
		--pico-range-thumb-hover-color: var(--pico-primary-hover);

		--color-code-syntax-normal: #DADADA;
		--color-code-syntax-comment: #666666;
		--color-code-syntax-type: #FFC66D;

	}
}

@media (min-width: 1536px) {
	.container {
		max-width: 920px;
	}
}

@media (min-width: 1280px) {
	.container {
		max-width: 920px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 2.25rem;
	margin-bottom: 1.0rem;
}

mark {
	border-radius: 5px;
}

details[hidden]+hr {
	display: none;
}

section:target,
details:target {
	border: 5px solid #f0544c15;
	border-radius: 15px;
	padding: 1em;
}

blockquote[role="note"]::before,
blockquote[role="note suggestion"]::before,
blockquote[role="note strong"]::before,
blockquote[role="alert"]::before,
blockquote[role="alert strong"]::before {
	--icon-size: 1.25rem;
	display: block;
	align-items: center;
	background-repeat: no-repeat;
	font-size: var(--icon-size);
	line-height: var(--icon-size);
	font-weight: bold;
	background-position: calc(var(--icon-size) * 0.5) center;
	background-size: var(--icon-size);
	padding-left: calc(2 * var(--icon-size));
	margin-bottom: 0.5rem;
}

blockquote[role="note"]::before {
	color: var(--color-note);
	content: "Note";
	background-image: var(--glyph-note);
}

blockquote[role="note"] {
	border-color: var(--color-note);
	background-color: var(--color-note--1);
}

blockquote[role="note suggestion"]::before {
	color: var(--color-note-suggestion);
	content: "Tip";
	background-image: var(--glyph-note-suggestion);
}

blockquote[role="note suggestion"] {
	border-color: var(--color-note-suggestion);
	background-color: var(--color-note-suggestion--1);
}

blockquote[role="note strong"]::before {
	color: var(--color-note-strong);
	content: "Important";
	background-image: var(--glyph-note-strong);
}

blockquote[role="note strong"] {
	border-color: var(--color-note-strong);
	background-color: var(--color-note-strong--1);
}

blockquote[role="alert"]::before {
	color: var(--color-alert);
	content: "Warning";
	background-image: var(--glyph-alert);
}

blockquote[role="alert"] {
	border-color: var(--color-alert);
	background-color: var(--color-alert--1);
}

blockquote[role="alert strong"]::before {
	color: var(--color-alert-strong);
	content: "Caution";
	background-image: var(--glyph-alert-strong);
}

blockquote[role="alert strong"] {
	border-color: var(--color-alert-strong);
	background-color: var(--color-alert-strong--1);
}

.hljs {
	color: var(--color-code-syntax-normal);
	background: var(--pico-code-background-color);
}

.hljs-bullet,
.hljs-literal,
.hljs-number,
.hljs-symbol {
	color: var(--color-code-syntax-number);
}

.hljs-operator,
.hljs-deletion,
.hljs-keyword,
.hljs-selector-tag {
	color: var(--color-code-syntax-keyword);
}

.hljs-link,
.hljs-template-variable,
.hljs-variable {
	color: var(--color-code-syntax-keyword-alt);
}

.hljs-comment,
.hljs-quote {
	color: var(--color-code-syntax-comment);
}

.hljs-meta {
	color: var(--color-code-syntax-meta);
}

.hljs-addition,
.hljs-attribute,
.hljs-string {
	color: var(--color-code-syntax-string);
}

.hljs-section,
.hljs-title,
.hljs-type {
	color: var(--color-code-syntax-type);
}

.hljs-name,
.hljs-selector-class,
.hljs-selector-id {
	color: var(--color-code-syntax-type);
}


/*
.input_minmax {
	position: relative;
	margin: 20px;
}

.input_minmax > input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	pointer-events: all;
}

.input_minmax > input[type=range]::-moz-range-thumb {
	appearance: none;
	pointer-events: all;
}

.input_minmax > input[type="range"][name="min"],
.input_minmax > input[type="range"][name="max"] {
	position: absolute;
	pointer-events: none;
	height: 0px;
}

.input_minmax > input[type="range"][name="min"] {
	z-index: 1;
}
*/
