@import url(style.css);

:root {
	counter-reset: tutorial_step1;
}

main aside nav {
	border-left: .25rem solid var(--pico-blockquote-border-color);
}

main aside nav a {
	padding: .125rem 0;
}

main aside nav ol:first-of-type {
	counter-reset: toc_step;
	padding-left: calc(var(--pico-nav-element-spacing-horizontal) * 4);
}

main aside nav li::before {
	counter-increment: toc_step;
	content: counters(toc_step, ".") ". ";
	font-size: var(--pico-font-size);
}


section>h3::before {
	counter-increment: tutorial_step1;
	content: counter(tutorial_step1) ". ";
}

section>h3 {
	counter-reset: tutorial_step2;
}

section>h4::before {
	counter-increment: tutorial_step2;
	content: counter(tutorial_step1) "." counter(tutorial_step2) ". ";
}

section>h4 {
	counter-reset: tutorial_step3;
}

section>h5::before {
	counter-increment: tutorial_step3;
	content: counter(tutorial_step1) "." counter(tutorial_step2) "." counter(tutorial_step3) ". ";
}

section>h5 {
	counter-reset: tutorial_step4;
}

section>h6::before {
	counter-increment: tutorial_step4;
	content: counter(tutorial_step1) "." counter(tutorial_step2) "." counter(tutorial_step3) "." counter(tutorial_step4) ". ";
}
