@import url(style.css);

:root {
	counter-reset: tutorial_step1;
}

@media (min-width: 1700px) {
	main aside {
		position: sticky;
		top: 0;
		height: 0;
	}

	main aside nav {
		position: relative;
		height: 0;
		width: 360px;
		left: -400px;
		top: var(--pico-typography-spacing-vertical);
		display: inline-block;
	}
}

main aside nav ol {
	counter-reset: toc_step;
}

main aside nav ol li {
	border-left: .125rem solid var(--pico-blockquote-border-color);
	margin: 0.25rem 0;
}

main aside nav ol li:has(a.active) {
	border-left: .125rem solid var(--pico-blockquote-border-color);
	border-left-color: var(--pico-primary);
}

main aside nav ol {
	padding-left: .5rem !important;
	margin-left: .5rem !important;
}

main aside nav li a::before {
	counter-increment: toc_step;
	content: counters(toc_step, ".") ". ";
	font-size: var(--pico-font-size);
}


section>h3::before {
	counter-increment: tutorial_step1;
	content: counter(tutorial_step1) ". ";
}

section>h3 {
	counter-reset: tutorial_step2;
}

section>h4::before {
	counter-increment: tutorial_step2;
	content: counter(tutorial_step1) "." counter(tutorial_step2) ". ";
}

section>h4 {
	counter-reset: tutorial_step3;
}

section>h5::before {
	counter-increment: tutorial_step3;
	content: counter(tutorial_step1) "." counter(tutorial_step2) "." counter(tutorial_step3) ". ";
}

section>h5 {
	counter-reset: tutorial_step4;
}

section>h6::before {
	counter-increment: tutorial_step4;
	content: counter(tutorial_step1) "." counter(tutorial_step2) "." counter(tutorial_step3) "." counter(tutorial_step4) ". ";
}
