@import url(style.css);

@media (min-width: 1700px) {
	main aside {
		position: sticky;
		top: 0;
		height: 0;
	}

	main aside nav[role="tree"] {
		position: relative;
		height: 0;
		width: 360px;
		left: -400px;
		top: var(--pico-typography-spacing-vertical);
		display: inline-block;
	}
}

nav[role="tree"] ol {
	counter-reset: toc_step;
}

nav[role="tree"] ol li {
	border-left: .125rem solid var(--pico-blockquote-border-color);
	margin: 0.25rem 0;
}

nav[role="tree"] ol li:has(a.active) {
	border-left: .125rem solid var(--pico-blockquote-border-color);
	border-left-color: var(--pico-primary);
}

nav[role="tree"] ol {
	padding-left: .5rem !important;
	margin-left: .5rem !important;
}

nav[role="tree"] li a::before {
	counter-increment: toc_step;
	content: counters(toc_step, ".") ". ";
	font-size: var(--pico-font-size);
}

nav[role="tree"] li:has(a[aria-current="step"]) {
	border-color: var(--pico-primary);
}


nav[role="tree"] a[aria-current="step"] {
	color: var(--pico-primary);
}


main[role="list"] {
	counter-reset: tutorial_step2;
}

main[role="list"] h2[role="listitem"]::before {
	counter-increment: tutorial_step2;
	content: counter(tutorial_step2) ". ";
}

main[role="list"] h2[role="listitem"] {
	counter-reset: tutorial_step3;
}

main[role="list"] h3[role="listitem"]::before {
	counter-increment: tutorial_step3;
	content: counter(tutorial_step2) "." counter(tutorial_step3) ". ";
}

main[role="list"] h3[role="listitem"] {
	counter-reset: tutorial_step4;
}

main[role="list"] h4[role="listitem"]::before {
	counter-increment: tutorial_step4;
	content: counter(tutorial_step2) "." counter(tutorial_step3) "." counter(tutorial_step4) ". ";
}

main[role="list"] h4[role="listitem"] {
	counter-reset: tutorial_step5;
}

main[role="list"] h5[role="listitem"]::before {
	counter-increment: tutorial_step5;
	content: counter(tutorial_step2) "." counter(tutorial_step3) "." counter(tutorial_step4) "." counter(tutorial_step5) ". ";
}

main[role="list"] h5[role="listitem"] {
	counter-reset: tutorial_step6;
}

main[role="list"] h6[role="listitem"]::before {
	counter-increment: tutorial_step6;
	content: counter(tutorial_step2) "." counter(tutorial_step3) "." counter(tutorial_step4) "." counter(tutorial_step5) "." counter(tutorial_step6) ". ";
}

main[role="list"] h2[role="listitem"]::before,
main[role="list"] h3[role="listitem"]::before,
main[role="list"] h4[role="listitem"]::before,
main[role="list"] h5[role="listitem"]::before,
main[role="list"] h6[role="listitem"]::before {
	font-size: 0.75rem;
}
